################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/BPSU-mcdonald/x64/Debug
/Debug
/McDonald.D7381DDC
/x64/Debug
/BPSU-mcdonald.sln
/BPSU-mcdonald.vcxproj
/BPSU-mcdonald.vcxproj.filters
/BPSU-mcdonald.vcxproj.user
/output.txt
